*.*~
*.pyc
__pycache__
.ipynb_checkpoints
*.o
*.pyo
*.dist-info
*.egg-info
*.egg
*.pyc
*.so
.DS_Store
/MANIFEST
/.coverage
/coverage.xml
/htmlcov
/build
/dist
/docs
.cache
/static/py/__pycache__/
/static/data/pearl-tif/pearl_data/
/.DS_Store
