{% extends "layout.html" %}

{% block body %}
<h1>{{ obj_row.full_name }}:</h1>
<br>
<h4>a {{ obj_row.age }} year old, {{obj_row.race }} {{ obj_row.gender|lower }}
    died on {{ obj_row.date }} in a {{ obj_row.type|lower }} at {{ obj_row.address }}
    in {{ obj_row.neighborhood }}.
</h4>
<br>
<div id="map-id"></div>
<!--div id="getFieldsRow" class="row">
    <div id="getFieldsCol" class="col-md-12">
        <hr>
        <form role="form" method='POST' action=''>
            <div class="form-group">
                <input type="text" name="query_string" class="form-control" id="query-box" placeholder="Enter query" style="max-width: 300px;" autofocus required>
            </div>
            <button type="submit" class="btn btn-default">Ask simple math</button>
        </form>
    </div>
</div-->

<script>
// Here is some Javascript added to our Flask HTML page
/*var foo = 1738;
console.log("foo: ", foo);
debugger;*/
</script>

{% endblock body %}
