{% extends "nav_layout.html" %}

{% block body %}
<!-- div id="push-top-index" style="height: 100px"></div -->
<div class="contain-all">
    <div id="push-before-map" style="height: 10px;"></div>
    <div class="container-fluid" id="map-container">
        <div id="map-intro" style="width:100%;"></div>
        <!--script src="./static/js/HeatLayer.js"></script>
        <script src="./static/js/leaflet-heat.js"></script-->
        <script src="./static/js/map-util.js"></script>
        <script type="text/javascript">
            $(window).load(function() {
                /*var csv_data = "SOME OBJ";
                $(function() {
                    $("#csv_table").bootstrapTable({
                        data: csv_data
                    });
                });*/
            });

            $(document).ready(function($) {
                /*$(".click-row").click(function() {
                    window.document.location = $(this).data("href");
                    //window.location = $(this).data("url");
                });*/
            });

            /***************************************
            * Various basemaps
            ***************************************/

            //  .. OpenStreetMap
            var osm_base = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'});

            //  .. CartoDB Positron
            var cartodb_base = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'});

            //  .. OSM Toner
            var toner_base = L.tileLayer('http://{s}.tile.stamen.com/toner/{z}/{x}/{y}.png', {attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://www.openstreetmap.org/copyright">ODbL</a>.'});

            //  .. White background
            var white_base = L.tileLayer("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQAAAAEAAQMAAABmvDolAAAAA1BMVEX///+nxBvIAAAAH0lEQVQYGe3BAQ0AAADCIPunfg43YAAAAAAAAAAA5wIhAAAB9aK9BAAAAABJRU5ErkJggg==");

            var basemaps = {"OpenStreetMap": osm_base, "CartoDB Basemap": cartodb_base, "Stamen Toner": toner_base, "Remove background (white)": white_base};

            /***************************************
            * Set params for core map
            ***************************************/

            var center_lat_lng = [11.252725743861603, -0.005242086131886481];

            /***************************************
            * Set core map
            ***************************************/

            var map = L.map('map-intro', {
                center: center_lat_lng,
                zoom: 3,
                minZoom: 3,
                maxZoom: 3,
                layers: [cartodb_base]
            });

            /***************************************
            * Set controls over map
            ***************************************/

            L.control.scale({position: 'topleft'}).addTo(map);

            /***************************************
            * Simple heatmpa
            ***************************************/

            var render_temp_map = function() {
                debugger;
            };

            var render_pearl_map = function() {
                debugger;
            };

            /*var overlaymaps = {
                "Go to temp Map": render_temp_map,
                "Go to PEARL Map": render_pearl_map
            };
            L.control.layers(basemaps, overlaymaps, {collpased: false}).addTo(map);*/

            /***************************************
            * Misc.
            ***************************************/

            /* Adjust map layout for menu + zoom controls */

            var this_height = $('#map-intro').height();

            // Create additional Control placeholders
            function addControlPlaceholders(map) {
                var corners = map._controlCorners,
                    l = 'leaflet-',
                    container = map._controlContainer;

                function createCorner(vSide, hSide, wildSide = false) {
                    if (wildSide) {
                        var className = l + vSide + ' ' + l + hSide;
                        corners[vSide + hSide] = L.DomUtil.create('div', className, container);
                    } else {
                        var className = l + vSide + ' ' + l + hSide;
                        corners[vSide + hSide] = L.DomUtil.create('div', className, container);
                    }
                }

                createCorner('verticalcenter', 'left');
                createCorner('verticalcenter', 'right');
                createCorner('wildcard', 'left', true);
            }
            //addControlPlaceholders(map);

        </script>
    </div>
    <div id="push-index-top1" style="height: 100px"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 style="text-align: center;">Welcome to EWAIM</h1>
                <h2 style="text-align: center;"><small>An <strong>E</strong>xtensible <b>W</b>eb <b>A</b>pp for <b>I</b>nteractive <b>M</b>apping via SQL queries, data analysis, and visualizations.</small></h2>
                <h5 style="text-align: center;">Authors of this site: Oliver Muellerklein and Zhongqi Miao</h5>
            </div>
        </div>
    </div>
    <div id="push-index-bottom1" style="height: 150px"></div>
    <div class="container-fluid" style="background-color: rgba(238, 238, 238, 0.75)">
        <div id="push-index-bottom2" style="height: 100px"></div>
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <h2>Pick data to use for rendering:</h2>
                                <br>
                                <p>We have example data for <b>Temperature Sampling</b> <i>(i.e. temp)</i> as well as <b>Parasite Distribution Models / Maps</b> <i>(i.e. pearl)</i>. There is data for four different species from the PEARL project, including models / maps of the projected current distributions as well as three climate trend models of future distributions.</p>
                                <br>
                                <form role="form" method='POST' action=''>
                                    <div class="form-group">
                                        <!--input type = "text" name = "query_string" class = "form-control" id = "query-box" placeholder = "Enter query" style = "max-width: 300px;" autofocus required-->
                                        <fieldset class="form-group">
                                            <legend>Example Data to Use:</legend>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option-temp" checked>
                                                    Use Temperature Sample example data
                                                </label>
                                            </div>
                                            <hr>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option-pearl">
                                                    Use PEARL example data (4 species)
                                                </label>
                                            </div>
                                        </fieldset>
                                        <!--input type="radio" name="pick_data" value="temp_go"/>
                                        <input type="radio" name="pick_data" value="pearl_go"/-->
                                    </div>
                                    <button type="submit" class="btn btn-default">Render Map</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3><em>Coming soon / beta mode functionality:</em></h3>
                        <br>
                        <ol>
                            <li><p><a href="/get_calc">Ask simple math <small>(simple string input as math expression currently working but will turn into complicated math queries / data analysis performed on data or subset of data)</small></a></p></li>
                            <!--li><p><a href="/file_upload">Go to file upload page</a></p></li-->
                            <li><p>Go to file upload page <small>(SQL or CSV upload - CSV currently working but ignored for this prototype)</small></p></li>
                            <li><p>Time range based on <i>Bootstrap sliders</i></p></li>
                            <li><p>Render map from backend based on user query</p></li>
                        </ol>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div id="push-index-bottom" style="height: 300px;"></div>
    </div>
</div>
{% endblock body %}
