{% extends "nav_layout.html" %}
{% block body %}
<style type="text/css">
    .ctl {
        padding: 2px 10px 2px 10px;
        background: white;
        background: rgba(255,255,255,0.9);
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        border-radius: 5px;
        text-align: right;
    }
    .title {
        font-size: 26pt;
        font-weight: bold;
        font-style: italic;
    }
</style>
<!-- div id="push-top-index" style="height: 100px"></div -->
<div class="container">
</div>
<div id="push-before-map" style="height: 10px;"></div>
<div class="container-fluid" id="map-container">
    <div id="map-id" style="width:100%;"></div>
    <!--script src="./static/js/HeatLayer.js"></script>
    <script src="./static/js/leaflet-heat.js"></script-->
    <script src="./static/js/map-util.js"></script>
    <script type="text/javascript">
        $(window).load(function() {
            var csv_data = {{ obj_meta|tojson }};
            $(function() {
                $("#csv-table").bootstrapTable({
                    data: csv_data
                });
            });

            var model_data = {{ obj_sp|tojson }};
            var model_string = model_data[0]["Model"];
            var native_string = model_data[0]["native_habitat_change"];
            var global_string = model_data[0]["global_habitat_change"];
            var model_li = $("#Model1");
            var native_li = $("#native_habitat_change1");
            var global_li = $("#global_habitat_change1");
            model_li.html(model_string + " (Green)");
            native_li.html(native_string);
            global_li.html(global_string);

            model_string = model_data[1]["Model"];
            native_string = model_data[1]["native_habitat_change"];
            global_string = model_data[1]["global_habitat_change"];
            model_li = $("#Model2");
            native_li = $("#native_habitat_change2");
            global_li = $("#global_habitat_change2");
            model_li.html(model_string + " (Yellow)");
            native_li.html(native_string);
            global_li.html(global_string);

            model_string = model_data[2]["Model"];
            native_string = model_data[2]["native_habitat_change"];
            global_string = model_data[2]["global_habitat_change"];
            model_li = $("#Model3");
            native_li = $("#native_habitat_change3");
            global_li = $("#global_habitat_change3");
            model_li.html(model_string + " (Red)");
            native_li.html(native_string);
            global_li.html(global_string);
        });

        $(document).ready(function($) {
            $(".click-row").click(function() {
                window.document.location = $(this).data("href");
                //window.location = $(this).data("url");
            });
        });

        /***************************************
        * Various basemaps
        ***************************************/

        //  .. OpenStreetMap
        var osm_base = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'});

        //  .. CartoDB Positron
        var cartodb_base = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'});

        //  .. OSM Toner
        var toner_base = L.tileLayer('http://{s}.tile.stamen.com/toner/{z}/{x}/{y}.png', {attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://www.openstreetmap.org/copyright">ODbL</a>.'});

        //  .. White background
        var white_base = L.tileLayer("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQAAAAEAAQMAAABmvDolAAAAA1BMVEX///+nxBvIAAAAH0lEQVQYGe3BAQ0AAADCIPunfg43YAAAAAAAAAAA5wIhAAAB9aK9BAAAAABJRU5ErkJggg==");

        var basemaps = {"OpenStreetMap": osm_base, "CartoDB Basemap": cartodb_base, "Stamen Toner": toner_base, "Remove background (white)": white_base};

        /***************************************
        * Set params for core map
        ***************************************/

        var tile_current_path = "./static/data/pearl-tiles/" + "{{ obj_show['pearl_sp'] }}" + "/current/{z}/{x}/{y}.png";
        var tile_ac45_path = "./static/data/pearl-tiles/" + "{{ obj_show['pearl_sp'] }}" + "/futureac45/{z}/{x}/{y}.png";
        var tile_ac85_path = "./static/data/pearl-tiles/" + "{{ obj_show['pearl_sp'] }}" + "/futureac85/{z}/{x}/{y}.png";
        var tile_bc26_path = "./static/data/pearl-tiles/" + "{{ obj_show['pearl_sp'] }}" + "/futurebc26/{z}/{x}/{y}.png";

        // Overlay layers (TMS)
        var tile_current = L.tileLayer(tile_current_path, {tms: true, opacity: 0.8, attribution: ""});
        var tile_ac45 = L.tileLayer(tile_ac45_path, {tms: true, opacity: 0.8, attribution: ""});
        var tile_ac85 = L.tileLayer(tile_ac85_path, {tms: true, opacity: 0.8, attribution: ""});
        var tile_bc26 = L.tileLayer(tile_bc26_path, {tms: true, opacity: 0.8, attribution: ""});
        // var overlaymaps = {"Layer": tile_current}

        var init_lat = {{ obj_show['init_lat'] }};
        var init_long = {{ obj_show['init_long'] }};
        var init_zoom = {{ obj_show['init_zoom'] }};

        /***************************************
        * Set core map
        ***************************************/

        //var map = L.map('map-id').setView([34.055, -118.35], 9);
        //var map = L.map('map-id').setView([init_lat, init_long], init_zoom);
        var map = L.map('map-id', {
            center: [init_lat, init_long],
            zoom: init_zoom,
            minZoom: 3,
            maxZoom: 6,
            layers: [cartodb_base]
        });

        /***************************************
        * Set controls over map
        ***************************************/

        var pearl_info = L.control({position: 'bottomleft'});
        pearl_info.onAdd = function(map) {
            this._div = L.DomUtil.create('div', 'pearl_info');
            this.pearl_update();
            return this._div;
        };
        pearl_info.pearl_update = function(props) {
            this._div.innerHTML = '<h3>Species Distribution Models</h3><hr>' +
                /*'<div id="model-list" class="container">' +*/
                '<div class="row"><div class="col-md-4"><h5><b>Model</b></h5>' +
                '<ul style="list-style-type:none; padding-left: 1px;"><li id="Model1" style="color: rgba(0, 128, 0, 0.6)">foo1</li><br>' +
                '<li id="Model2" style="color: rgba(204, 204, 0, 0.8)">foo2</li><br>' +
                '<li id="Model3" style="color: rgba(255, 0, 0, 0.6)">foo3</li><br></ul>' +
                '</div><div class="col-md-4"><p><b>Native Habitat Change</b></p>' +
                '<ul style="list-style-type:none;"><li id="native_habitat_change1">native1</li><br>' +
                '<li id="native_habitat_change2">native2</li><br>' +
                '<li id="native_habitat_change3">native3</li><br></ul>' +
                '</div><div class="col-md-4"><p><b>Global Habitat Change</b></p>' +
                '<ul style="list-style-type:none;"><li id="global_habitat_change1">global1</li><br>' +
                '<li id="global_habitat_change2">global2</li><br>' +
                '<li id="global_habitat_change3">global3</li><br></ul>' +
                '</div></div>';
        };
        pearl_info.addTo(map);

        function onMapClick(e) {
            //alert("You clicked the map at " + e.latlng);
            var curr_locc = e.latlng;
            var lat_div = $("#curr_lat");
            var long_div = $("#curr_long");
            lat_div.html(curr_locc["lat"]);
            long_div.html(curr_locc["lng"]);
        }
        map.on('click', onMapClick);

        var loc_info = L.control({position: 'bottomright'});
        loc_info.onAdd = function(map) {
            this._div = L.DomUtil.create('div', 'loc_info');
            this.loc_update();
            return this._div;
        };
        loc_info.loc_update = function(props) {
            this._div.innerHTML = '<h3>Location</h3><hr>' +
                '<div class="row"><div class="col-md-6"><h5><b>Lat.</b></h5>' +
                '<ul style="list-style-type:none; padding-left: 1px;"><li id="curr_lat">' + init_lat + '</li><br></ul>' +
                '</div><div class="col-md-6"><p><b>Long.</b></p>' +
                '<ul style="list-style-type:none;"><li id="curr_long">' + init_long + '</li><br></ul>' +
                '</div></div>';
        };
        loc_info.addTo(map);

        L.control.scale({position: 'topleft'}).addTo(map);

        // Title
        var title = L.control();
        title.onAdd = function(map) {
            this._div = L.DomUtil.create('div', 'ctl title');
            this.update();
            return this._div;
        };
        title.update = function(props) {
            this._div.innerHTML = "<h1>{{ obj_show['prop_name'] }}</h1>" + "<hr><h2><small>{{ obj_show['sub_name'] }}</small></h2>";
        };
        title.addTo(map);

        /***************************************
        * Simple heatmap
        ***************************************/

        /*var num_points = point_data.features.length;
        var point_data_heat = point_data.features.map(function(p) {
            var ptnn = p.geometry.coordinates;
            var crbn = p.properties.tot_carbon
            //debugger;
            return L.latLng(ptnn[1], ptnn[0], eval(crbn) * 0.05);
        });
        var heat = L.heatLayer(point_data_heat, {radius: 25});*/

        var overlaymaps = {
            "Pearl: Current": tile_current,
            "Pearl: AC 4.5": tile_ac45,
            "Pearl: AC 8.5": tile_ac85,
            "Pearl: BC 2.6": tile_bc26
        };
        L.control.layers(basemaps, overlaymaps, {collpased: false}).addTo(map);

        /***************************************
        * Misc.
        ***************************************/

        /* Adjust map layout for menu + zoom controls */

        var this_height = $('#map-id').height();
        var main_menu = $(".main-menu");
        main_menu.attr("id", "main-menu-id");
        var menu_zoom = main_menu.parent();
        menu_zoom.attr("id", "menu-zoom-id");
        var zoom_div = menu_zoom.children()[0];
        var menu_div = menu_zoom.children()[1];
        $(zoom_div).insertAfter(menu_div);

        /***************************************
        * Hover over pearl models
        ***************************************/

        $(document).ready(function() {
            /* Pearl Current */
            var curr_box = $(".leaflet-control-layers-overlays > label > div > input")[0];
            //curr_box.on('click', onCurrClick);

            /*.change(function(event) {
                debugger;
                layerClicked = window[event.target.value];
                if (map.hasLayer(layerClicked)) {
                    map.removeLayer(layerClicked);
                } else {
                    map.addLayer(layerClicked);
                };
            });*/

            /* Pearl AC 4.5 */
            var ac45_box = $(".leaflet-control-layers-overlays > label > div > input")[1];
            /* Pearl AC 8.5 */
            var ac85_box = $(".leaflet-control-layers-overlays > label > div > input")[2];
            /* Pearl BC 2.6 */
            var bc26_box = $(".leaflet-control-layers-overlays > label > div > input")[3];
        });
    </script>
</div>
<div id="push-pearl-postmap" style="height: 25px;"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 style="text-align: center;">Current Species: <i>{{ obj_show['prop_name'] }}</i></h1>
            <div class="container" style="padding: 10px; ">
                <table id="csv-table" data-toggle="true" data-show-columns="true" data-pagination="true" data-height="280">
                    <thead>
                        <tr class="click-row" data-href="/">
                            <th data-field="id" data-sortable="true">Species ID</th>
                            <th data-field="science_name" data-sortable="true">Scientific Name</th>
                            <th data-field="clade" data-sortable="true">Clade</th>
                            <th data-field="iucn" data-sortable="true">IUCN</th>
                            <th data-field="coverage" data-sortable="true">Data Collection Quality</th>
                            <th data-field="uncertain" data-sortable="true">Model Quality</th>
                            <th data-field="sources" data-sortable="true">Data Sources</th>
                            <th data-field="tss" data-sortable="true">True Skill Statistic</th>
                            <th data-field="roc" data-sortable="true">Area Under Curve</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="push-index-bottom" style="height: 100px;"></div>
{% endblock %}
